<h1>Welcome to Mercado Pago's links generator</h1>
<%= form_tag create_links_path, multipart: true do %>
  <div class="center">
    <h2>1. Please enter your credentials</h2>
    <p>I solemnly swear that my intentions are not good and I will not save you credentials</p>
    <%= text_field_tag :client_id, nil, placeholder: 'Client ID' %>
    <%= password_field_tag :client_secret, nil, placeholder: 'Client Secret' %>
  </div>
  <div class="center">
    <h2>2. Add your spreadsheet</h2>
    <p>
      You need to add your .xlsx or .csv file, be aware that your file needs to have the following format:
      <ul>
        <li>title</li>
        <li>quantity</li>
        <li>currency</li>
        <li>unit_price</li>
        <li>external_reference</li>
      </ul>
    </p>

    <%= file_field_tag :file %>
    <%= submit_tag "Add file" %>
  </div>
<% end %>
